body {
    overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    .item {
        display: none;
    }
}

footer {
    height: 20px;
}

.title {
    font-size: 25px;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 25px;
}

.item {
    max-width: 1200px;
    width: 60%;
    margin: 40px auto;
    background-color: #fff;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    transition: transform 0.3s;
    transform: translate3d(0, -1px, 0);
}

.item img {
    padding-top: 15px;
    display: block;
    max-width: 300px;
    margin: auto;
    width: 100%;
    height: 300px;
    max-height: 400px;
}

.item__body {
    text-align: center;
    padding: 10px;
}

.item__title {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #232323;
}

.item__description {
    color: #585858;
}

.items {
    position: relative;
}

.rectangle {
    display: flex;
    width: 135px;
}

.container__array {
    overflow: visible;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 420px;
}

.sudoku__number {
    margin: 0;
    border: 1px solid;
    float: left;
    padding: 0 0 0 15px;
    width: 42px;
    height: 35px;
    border-collapse: collapse;
}

.sudoku__number:nth-child(3n + 3) {
    border-right: 2px solid;
}

.sudoku__number:first-child {
    border-left: 2px solid;
}

.sudoku__row {
    flex-wrap: wrap;
    border-collapse: collapse;
}

.sudoku__row:nth-child(3n + 3) {
    border-bottom: 2px solid;
}

.sudoku__row:first-child {
    border-top: 2px solid;
}

.bloc {
    min-height: 200px;
}

.bloc > span {
    margin-top: 75px;
    display: block;
    font-size: larger;
}
