body {
    overflow-x: hidden;
}

footer {
    height: 20px;
}

.title {
    font-size: 25px;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 25px;
}

.item {
    margin: 40px 0px;
    background-color: #fff;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    transition: transform 0.3s;
    transform: translate3d(0, -1px, 0);
}

.item img {
    padding-top: 15px;
    display: block;
    width: 100%;
    height: auto;
    max-height: 400px;
}

.item__body {
    text-align: center;
    padding: 10px;
}

.item__title {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #232323;
}

.item__description {
    color: #585858;
}

.items {
    position: relative;
}

/**
 * Carousel
 */

.carousel {
    position: relative;
    /*overflow: hidden;*/
}

.carousel__container {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

.carousel__container::after {
    content: '';
    clear: both;
    display: table;
}

.carousel__item {
    padding-left: 50px;
    padding-right: 50px;
    float: left;
}

.carousel__next, .carousel__prev {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff url("../../public/image/icons/right.svg") center center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: 0px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.carousel__next:hover, .carousel__prev:hover {
    transform: scale(1.2);
}

.carousel__next {
    right: 50px;
}

.carousel__prev {
    background-image: url("../../public/image/icons/left.svg");
    right: auto;
    left: 50px;
}

.carousel__prev--hidden, .carousel__next--hidden {
    opacity: 0;
}

.carousel__pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 40px;
}

.carousel__pagination__button {
    background-color: #000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 3px;
    display: inline-block;
    box-shadow: 0 2px 5px #3232321a;
    transition: transform 0.3s;
    cursor: pointer;
}

.carousel__pagination__button--active, .carousel__pagination__button:hover {
    transform: scale(1.4);
}

@media screen and (min-width: 800px) {
    .carousel__pagination {
        display: block;
    }
}

.image_slider {
    max-width: 260px;
    text-align: center;
    margin: auto;
}

.rectangle {
    display: flex;
    width: 135px;
}

.container__array {
    overflow: visible;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 420px;
}

.sudoku__number {
    margin: 0;
    float: left;
    padding: 0 0 0 15px;
    border: 1px solid;
    width: 42px;
    border-collapse: collapse;
}

.sudoku__row {
    border: 2px solid;
    width: 130px;
    flex-wrap: wrap;
    border-collapse: collapse;
}

.red {
    color: #ff0000;
}

.bloc {
    min-height: 200px;
}
.bloc > span {
    margin-top: 75px;
    display: block;
    font-size: larger;
}
